@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


:root{
    --background-color: #03051c;
    --blue-primary: #34B0BE; 
    --gray-secondary: #d1ceca;
    --dark-black: #242635;
    --white:#ffffff;
}


*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat" ;
    
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-color);
}

section{
    padding-top: 100px;
}


.subtitle{
    color: var(--blue-primary);
    font-size: 45px;
    margin-bottom: 2rem;
    

}

.paragraph-l{
    color: var(--white);
    font-weight: 100;
    line-height: 2rem;
}

.nav{
    background-color: rgba(52, 176, 190,0.5);
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    
}


.show_menu{

}



.menu-hamburguer{
    color: white;
    margin:auto 1rem;
    cursor: pointer;
    display: none;
}

.menu{
    width: 100%;
    display: flex;
    
    justify-content: flex-end;
    padding-right: 2rem;
}

.menu ul{
    list-style: none;
    display: flex;
  
}

.menu li {
    padding: 1rem;
}


.menu li a{
    text-decoration: none;
    color: var(--white);
    transition: color 0.5s;
}

.menu li a:hover{
    
    color: var(--blue-primary);
}

.container{
    margin: 1rem 12rem;
}


.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background{
    width: 70vh;
    height:70vh ;
    background-color: var(--dark-black);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
}

.background img{
    width: 65%;
}


.home__info{
    padding: 2rem;
    position: absolute;
    width: 300px;
    left: 150px;
    top: 100px;
    height: 50vh;    
   
}


.home__info h2{
    color: var(--white);
    font-size: xx-large;
    margin-bottom: 1rem;
    padding-bottom:1rem ;
    border-bottom:  solid white;
}

.home__info h1{
    color: var(--blue-primary);
    font-size: 70px;
}

.home__info p{
    color: var(--white);
    padding-bottom: 20px;
}

.home__info span{
    margin-top: 5rem;
    color: var(--white);
}


.enterprise {
    width: 100%;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--dark-black);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    
}

.enterprise .enterprise__item{
    width: 33%;
    padding: 1rem 5rem;
    border-radius: 1rem;
    background-color: var(--gray-secondary);
}


.service{
    margin: 5rem 0;
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
}


.about{
    margin: 5rem 0;
    display: flex;
    flex-direction: column;

    text-align: center;
}

.about__body{
    display: flex;
    justify-content: space-evenly;
}


.about__body .about__item{
    background-color: var(--white);
    border-radius: 0.5rem;
    width: 300px;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1.5rem 1.5rem;
    align-items: center;
}


.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.skill__body{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--white);
    border-radius: 20px;
    gap: 2rem;
    padding: 2rem 1rem;
}


 

.skill__body-item i{
    
    
    color: var(--blue-primary);
    font-size: 100px;
    
  

}

.skill__body-item{
    height: 100%;
}


.portafolio{
    margin-top: 8rem;
    text-align: center;
    width: 100%;
}

.portafolio img{
    width: 100%;
}

.portafolio .portafolio_body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.contact{
    margin-top: 8rem;
    text-align: center;
}


.contact label{
    color: var(--blue-primary);
    margin-bottom: 5px;
}


.contact input[type="text"]{
    
    height: 30px;
}
.contact input[type="text"],
.contact textarea{
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgba(52, 176, 190,0.5);
}


.contact input[type="submit"]{
    color: var(--white);
    font-size: 20px;
    padding: 15px;
    background-color: var(--blue-primary);
}
.form-group{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 2rem 1rem;
}

.d-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


footer{
    padding: 0.5rem;
    background-color: var(--blue-primary);
    text-align: center;
    color: var(--white);
}




@media (max-width:750px){

    .nav{
        height: 50px;
    }

    .menu-hamburguer{
        color: white;
        margin:auto 1rem;
        cursor: pointer;
        display: block;
    }

    .menu ul{
        list-style: none;
        display: block;
      
    }

    .menu{
    width: 100%;
    
    position: fixed;
    background-color: var(--dark-black);
    justify-content: flex-start;
    padding-right: 2rem;
    right: 20;
    top: 45px;
    transform: translateX(-200%);
    transition: transform 0.5s;
    }

    .show_menu{
        transform: translateX(0);
    }
    
    .container{
        margin: 1rem 1rem;
    }

    .home__info{
        padding: 2rem;
        position: initial;
        width: 300px;
        
        height: 50vh;      
       
    }
    .enterprise {
        width: 100%;
       
        border-radius: 1rem;
        background-color: var(--dark-black);
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }

    .portafolio .portafolio_body{
        display: grid;
        grid-template-columns: 1fr;
    }

    .about__body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .about__body .about__item{
        background-color: var(--white);
        border-radius: 0.5rem;
        width: 300px;
        padding: 1rem  0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 1.5rem 1.5rem;
        align-items: center;
    }

    
    .skill__body{
        
        display: grid;
        grid-template-columns: 1fr;
        background-color: var(--white);
        border-radius: 20px;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .background{
        width: 50vh;
        height:50vh ;
        background-color: var(--dark-black);
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        border-radius: 50%;
    }

    .d-block{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}